.btn {
  border-radius: 4px;
}

.btn-primary {
  color: #ffffff;
  background-color: #009b86;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #cccccc;
  background-color: #34ac9c;
}

.btn-submit {
  color: #ffffff;
  background-color: #009b86;
}
.btn-submit:hover,
.btn-submit:focus,
.btn-submit:active {
  color: #cccccc;
  background-color: #34ac9c;
}

.btn-medium {
  padding: 0.5rem 1.2rem;
  font-size: 1.2rem;
}

.btn-large {
  padding: 1rem 1.8rem;
  font-size: 1.6rem;
}
